<style>
    .container {
        width: 100%;
        margin: auto;
    }
    @media (min-width: 600px) {
        .container {
            width: 80%;
        }
    }
    @media (min-width: 768px) {
        .container {
            width: 60%;
        }
    }
    @media (min-width: 1024px) {
        .container {
            width: 50%;
        }
    }
</style>

<div class="container">
    <h2>Henan University (HENU; 河南大学) is a provincial public university in Zhengzhou and Kaifeng, 
        Henan, China. It is affiliated with the Province of Henan and co-funded with 
        the Ministry of Education. 
        The university is part of the Double First-Class Construction.</h2>
    <img src="https://govt.chinadaily.com.cn/images/202306/30/649e7213498ea27454d56253.jpeg" 
         width="300" height="200">
    <form action="/" method="post">
        <p><input type="submit" value="Main" style="width:100px;height:50px"></p>
    </form>
</div>
